@model IEnumerable<CurdApplication.Models.Employee>

@{
    ViewData["Title"] = "Index";
}

 <div class="container">
     <div class="row">
         <div class="col-8 offset-2">
             <h1 class="text-center text-primary">Employee Record</h1>
             <a class="btn btn-sm btn-success m-1" asp-controller="Employee" asp-action="Create">Create</a>
             <p class="text-center text-success">@TempData["error"]</p>
             <table class=" table table-bordered">
                 <tr class="text-center">
                     <td>EmployeeID</td>
                     <td>Name</td>
                     <td>City</td>
                     <td>State</td>
                     <td>Salary</td>
                     <td>Action</td>
                 </tr>
                 @foreach (var emp in Model)
                 {
                     <tr class="text-center">
                         <td>@emp.Id</td>
                         <td>@emp.Name</td>
                         <td>@emp.City</td>
                         <td>@emp.State</td>
                         <td>@emp.Salary</td>
                         <td>
                             <a class="btn btn-sm btn-warning" asp-controller="Employee" asp-action="Edit" asp-route-id="@emp.Id">Edit</a>
                             <a class="btn btn-sm btn-danger" asp-controller="Employee" asp-action="Delete" asp-route-id="@emp.Id">Delete</a>

                         </td>
                     </tr>
                 }

             </table>
         </div>
     </div>

 </div>


